<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Controller</title>
        <link rel="stylesheet" href="styles/bootstrap3/css/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
    </head>

    <body>
        <div ng-app="">
            Root: 
            <input type="text" ng-model="data.message"/>
            <h1>{{data.message}}</h1>

            <div ng-controller="EersteCtrl" class="well">
                Eerste controller:
                <input type="text" ng-model="data.message"/>
                <h1>{{data.message}}</h1>
            </div>

             <div ng-controller="TweedeCtrl" class="well">
                Tweede controller:
                <input type="text" ng-model="data.message"/>
                <h1>{{data.message}}</h1>
            </div>
        </div>

        <script src="scripts/angular.js"></script>
        <script src="scripts/controller.js"></script>
    </body>
</html>